<div class="favorite_container">
    
    <div class="favorite_details_container" >
        
        <h2 style="color: #fd3d44;">New Favorite</h2>
        <h3><span class="label_indicator" >flavor:</span> <%= newFavorite.flavor %></h3> 
        <h3><span class="label_indicator" >description:</span></h3>
        <h3><%= newFavorite.description %></h3>
    </div>

</div>