<div class="favorite_container">
    
    <div class="favorite_details_container" >
        
        <h2 style="color: #fced51;">New Favorite</h2>
        <h3 style="color: #fd3d44;"><span style="color: white" >flavor:</span> <%= newFavorite.flavor %></h3> 
        <h3 ><span style="color: white" class="" >description:</span></h3>
        <h3 style="color: #fd3d44;"><%= newFavorite.description %></h3>
    </div>

</div>