
<footer>
    <div class="footer_container">
        <% socials.forEach(social => { %>
            <a id="social_url" href="<%= social.url %>"><span id="social_item"><%= social.domain %></span></a>
           <% }) %>
    </div>
</footer>

<!-- 
"https://www.instagram.com/gfuelenergy",  // Instagram
"https://www.facebook.com/GFuelEnergy",   // Facebook
"https://www.youtube.com/c/GFuelEnergy",  // YouTube
"https://www.tiktok.com/@gfuelenergy",    // TikTok
"https://discord.gg/gfuel",               // Discord
"https://www.reddit.com/r/GFUEL/"         // Reddit
] -->