
<footer>
    <%- include('./partials/nav') %> <!-- add nav bar WOO -->
    <a href="https://twitter.com/GFUELenergy">Twitter</a>
</footer>

<!-- 
"https://www.instagram.com/gfuelenergy",  // Instagram
"https://www.facebook.com/GFuelEnergy",   // Facebook
"https://www.youtube.com/c/GFuelEnergy",  // YouTube
"https://www.tiktok.com/@gfuelenergy",    // TikTok
"https://discord.gg/gfuel",               // Discord
"https://www.reddit.com/r/GFUEL/"         // Reddit
] -->