<form action="the-form-submits-here" method="post">
    <fieldset aria-labelledby="contactLegend"  id="contactForm">
        <legend id="contactLegend">Contact us here, we will not do sponsorships at this time.</legend>
        <div>
            <label for="name">Name:</label>
            <div><small>required</small></div>
            <input type="text" id="name" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <div><small>required</small></div>
            <input type="text" id="email" required>
        </div>
        <div>
            <label for="message">Message:</label>
            <div><small>Optional</small></div>
            <textarea id="message"></textarea>
        </div>
        <div>
            <label for="ccInfo">Credit Card</label>
            <div><small>donation for the devs?</small></div>
            <input type="text" id="ccInfo">
        </div>
        <button id="submitBtn" class="button">Submit</button>
    </fieldset>
</form>
<!-- testing for EJS functionality. learned that if you pass data to the parent element(the contact form) -->
<!-- <h1>hello</h1> --> 
<!-- <p><%= //history %></p> -->