<div class="search_container">
    <form action="/search">
        
        //price range maybe using range input or radio input with some fix min and max value

        <input type="text" name="flavor" autocomplete="off">
        <input type="submit" value="Search">
    </form>
</div>