<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company History</title>
    <link rel="stylesheet" href="/CSS/app.css">
</head>
<body>
    <%- include('./partials/nav') %> <!-- add nav bar WOO -->
    <h1><%= staff[6] %></h1>
    <!-- <img src=""/> -->
     <p class="history_text"><%= history %></p>

     <%- include('./partials/footer') %>
</body>
</html>