<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Past Works</title>
</head>
<body>
    <%- include('./partials/nav') %> <!-- add nav bar WOO -->
    <h1>Take a look at the Events we have done!</h1>
    <ul>
        <% gfuelEvents.forEach(event => { %>
            <h1><%= event.event %></h1>
            <h3><%= event.date %></h3>
            <p><%= event.description %></p>
        <% }) %>
    </ul>
</body>
</html>