<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Not Found</title>
    <link rel="stylesheet" href="/CSS/app.css">
</head>
<body>
    <%- include('./partials/nav') %> <!-- add nav bar -->
    <div style="height: 90vh; width: 100vw; display: flex; flex-direction: column;align-items: center;justify-content: center; font-family: Slackey;">
        
        <img src="/src/ghostface_razor.gif" />
        <h3>Sorry we cant find this person in the database...</h3>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>