.product_card_container {
    display: flex;
    width: 300px;
    cursor: pointer;
    text-align: center;
    padding: 2rem;
}



.product_card_container a {
    text-decoration: none;
    color: black;
}

.product_card_container a:hover {
    text-decoration: underline;
}